@model AppLocationVehicleASP.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnAgency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnAgency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageCover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageCover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RobberyCover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RobberyCover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCancelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgencyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgencyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
